---
import { getCollection } from "astro:content";
import Date from "../../components/Date.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<BaseLayout description="All blog posts">
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <p class="date">
                <Date date={post.data.pubDate} />
              </p>
              <a href={`/blog/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
              </a>
              {post.data.tags.length && <pre>{post.data.tags.join(", ")}</pre>}
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }

  li > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li > div > p {
    margin: 0;
  }

  li > div > a > h4 {
    margin: 0.5em 0;
  }

  li > div > pre {
    margin: 0;
  }

  li > a > .title {
    margin: 0;
  }

  li > a > .date {
    color: gray;
    margin: 0;
  }
</style>
