---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Grid from "../components/Grid.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={"Homepage"} />
  </head>
  <body>
    <main>
      <div id="intro">
        <img
          src="/img/menion.jpg"
          alt="That's Fran right dressed as a Menion"
        />
        <h2>Hi! I'm Fran and this is my little internet corner.</h2>
      </div>
      <Grid>
        <ProjectCard type="dev" />
        <ProjectCard type="blog" />
        <ProjectCard type="music" />
      </Grid>
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div#intro {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  div#intro img {
    border: 1px solid var(--text-color);
    border-radius: 50%;
    height: 3em;
    width: 3em;
  }
</style>
