---

---

<hr />
<footer>
  As seen on:
  <a href="https://github.com/sleepyfran">github</a>
  <a href="https://hachyderm.io/@sleepyfran" rel="me">mastodon</a>
  <a href="https://www.linkedin.com/in/sleepyfran/">linkedin</a>
</footer>
<style>
  hr {
    margin-top: 3rem;
  }

  footer {
    display: flex;
    gap: 1rem;
    padding: 1.8rem 0;
  }
</style>
