---

---

<header>
  <nav>
    <a href="/">sleepyfran.me</a>
    <a href="/blog">blog</a>
  </nav>
</header>
<style>
  header {
    padding: 1.8rem 0;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    line-height: 1rem;
  }
</style>
