---

---

<header>
  <nav>
    <a class="root" href="/">sleepyfran.me</a>
    <a href="/projects">app/games</a>
    <a href="/blog">blog</a>
    <a href="/music">music</a>
  </nav>
</header>
<style>
  header {
    padding: 1.8rem 0;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    line-height: 1rem;
  }

  a.root {
    font-weight: 200;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  a.root:hover {
    text-decoration: underline;
  }
</style>
