---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ProjectItem from "../../components/ProjectItem.astro";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";
import Project from "../../layouts/Project.astro";

const allProjects = await getCollection("projects");
const [projects, archivedProjects] = allProjects.reduce(
  (acc, project) => {
    if (project.data.archived) {
      acc[1].push(project);
    } else {
      acc[0].push(project);
    }
    return acc;
  },
  [[], []] as [typeof allProjects, typeof allProjects]
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={"All posts"} />
  </head>
  <body>
    <Header />

    <main>
      <section>
        <ul>
          {projects.map((project) => <ProjectItem project={project} />)}
        </ul>
        <hr />
        <h3>Archive</h3>
        <ul>
          {archivedProjects.map((project) => <ProjectItem project={project} />)}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
  }

  hr {
    margin: 3rem 0;
  }
</style>
