---
import ProjectItem from "../../components/ProjectItem.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allProjects = await getCollection("projects");
const [projects, archivedProjects] = allProjects.reduce(
  (acc, project) => {
    if (project.data.archived) {
      acc[1].push(project);
    } else {
      acc[0].push(project);
    }
    return acc;
  },
  [[], []] as [typeof allProjects, typeof allProjects]
);
---

<!doctype html>
<BaseLayout description="All projects">
  <section>
    <ul>
      {
        projects.map((project) => (
          <li>
            <ProjectItem project={project} />
          </li>
        ))
      }
    </ul>
    <hr />
    <h3>Archive</h3>
    <ul>
      {
        archivedProjects.map((project) => (
          <li>
            <ProjectItem project={project} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    max-width: 60rem;
  }

  ul {
    columns: 18rem;
    gap: 1rem;
    padding: 0;
  }

  li {
    break-inside: avoid;
    list-style: none;
  }

  li + li {
    margin-top: 1rem;
  }

  hr {
    margin: 3rem 0;
  }
</style>
