---
import type { CollectionEntry } from "astro:content";
import Date from "../components/Date.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout description={description}>
  <article>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        <div class="date">
          <Date date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <Date date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  .prose {
    color: var(--text-color);
  }

  @media screen and (max-width: 900px) {
    .prose {
      max-width: 30rem;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
    color: var(--link-color);
  }

  .title h1 {
    margin: 0 0 0.5em 0;
  }

  .date {
    margin-bottom: 0.5em;
    color: var(--text-color);
  }

  .last-updated-on {
    font-style: italic;
  }
</style>
