---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"projects">["data"];

const { name, description } = Astro.props;
---

<BaseLayout description={description}>
  <main>
    <h1>{name}</h1>
    <slot />
  </main>
</BaseLayout>
